.container {
  max-width: 800px;
  width: 100%;
  margin: 2rem auto;
  padding: 40px;
  background-color: #ffffff;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  min-height: 100vh;
}

.Level2 {
  font-size: 20px;
  font-weight: bold;
}

.li-point {
  list-style-type: disc;
}

